body {
background-image: url("../images/.jpg");
background-color:white;;
background-attachment:scroll;
background-repeat:no-repeat;
background-position:center;
background-size:cover;
height:2000px;
}
/*----------------Containers--------------------*/

#top-container-fluid-nav
{
background-image: url("../images/.jpg");
background-color:inherit;
background-attachment:scroll;
background-repeat:no-repeat;
background-position:center;
background-size:cover	;
}

#body-container-fluid
{
background-image: url("../images/.jpg");
background-color:inherit;
background-attachment:scroll;
background-repeat:no-repeat;
background-position:center;
background-size:cover;
margin-top:50px;
}

#footer-container-fluid
{
background-image: url("../images/.jpg");
background-color:inherit;
background-attachment:scroll;
background-repeat:no-repeat;
background-position:center;
background-size:cover;
padding-bottom:25px;
padding-top:25px;
}

.card
{
padding:10px;
border:0px solid white;
box-shadow:0px 7px 16px 0px rgba(0, 0, 0, 0.09);
}
.card-title
{
color:;
font-size:16px;
text-align:center;
}
.card-text
{
color:#84919B;
font-size:12px;
text-align:center;

}

#courses
{
text-align:center;
}

/**********************
		courses
**********************/
.list-inline-item
{
font-size:13px;
color:#84919B;
 }
/**********************
		courses
**********************/


.address .w3-ul li
 {
	border:0px solid white;
	line-height:1px;
}



/**********************
		abilities
**********************/
span
{
font-size:10px;
float:right;
background-color:#F4F7F9;
border-radius:10px;
padding:3px 8px;
color:#84919B;
}
.lower-case
{
color:#84919B;
font-size:12px;
text-align:center;
}

/**********************
		abilities
**********************/

.absolute {
    position: absolute;
    right: 400px;
    padding-top: 155px;
}
.mybutton{
  position: absolute;
  right: 400px;
  padding-top: 155px;
}
.mybutton button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.mybutton:after {
    content: "";
    clear: both;
    display: table;
}

.mybutton button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.mybutton button:hover {
    background-color: #3e8e41;
}
/**********************
		ratings
**********************/

.ratings .fa
{
color:indigo;
font-size:25px;
}
.ratings .fa:hover
{
color:yellow;
}
.ratings .list-inline
{
text-align:center;
}

/**********************
		ratings
**********************/





/**********************
		socials
**********************/
.socials {
text-align:center;
}

/**********************
		socials
**********************/




 /**********************
		footer
**********************/
.learn {font-size:12px;color:gray;}
.learn a:hover {text-decoration:none;}
/**********************
		footer
**********************/






@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }
  100% {
    background-position: 468px 0
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }
  100% {
    background-position: 468px 0
  }
}

.timeline-wrapper {
  background-color: #e9eaed;
  color: #141823;
  padding: 20px;
  border: 1px solid #ccc;
}

.timeline-item {
  background: #fff;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  padding: 12px;
  margin: 0 auto;
  max-width: 472px;
  min-height: 200px;
}

.animated-background {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: #eeeeee;
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
  background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  -webkit-background-size: 800px 104px;
  background-size: 800px 104px;
  height: 96px;
  position: relative;
}

.background-masker {
  background: #fff;
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.outlined .background-masker {
  border: 1px solid #ddd;
}

.outlined:hover .background-masker {
  border: none;
}

.outlined:hover .background-masker:hover {
  border: 1px solid #ccc;
  z-index: 1;
}

.background-masker.header-top,
.background-masker.header-bottom,
.background-masker.subheader-bottom {
  top: 0;
  left: 40px;
  right: 0;
  height: 10px;
}

.background-masker.header-left,
.background-masker.subheader-left,
.background-masker.header-right,
.background-masker.subheader-right {
  top: 10px;
  left: 40px;
  height: 8px;
  width: 10px;
}

.background-masker.header-bottom {
  top: 18px;
  height: 6px;
}

.background-masker.subheader-left,
.background-masker.subheader-right {
  top: 24px;
  height: 6px;
}

.background-masker.header-right,
.background-masker.subheader-right {
  width: auto;
  left: 300px;
  right: 0;
}

.background-masker.subheader-right {
  left: 230px;
}

.background-masker.subheader-bottom {
  top: 30px;
  height: 10px;
}

.background-masker.content-top,
.background-masker.content-second-line,
.background-masker.content-third-line,
.background-masker.content-second-end,
.background-masker.content-third-end,
.background-masker.content-first-end {
  top: 40px;
  left: 0;
  right: 0;
  height: 6px;
}

.background-masker.content-top {
  height: 20px;
}

.background-masker.content-first-end,
.background-masker.content-second-end,
.background-masker.content-third-end {
  width: auto;
  left: 380px;
  right: 0;
  top: 60px;
  height: 8px;
}

.background-masker.content-second-line {
  top: 68px;
}

.background-masker.content-second-end {
  left: 420px;
  top: 74px;
}

.background-masker.content-third-line {
  top: 82px;
}

.background-masker.content-third-end {
  left: 300px;
  top: 88px;
}
